body 
{
	margin: 0px;
	width: 100%;
	font-family: 'roboto', sans-serif;
}

header 
{
	width: 100%;
	height: 130px;
	padding-top: 30px;
	background-color:#333;
}


header ul
{
	float: right;
	margin-right: 200px;
	padding-top: 30px;
	font-family: 'poppins', sans-serif;
	text-decoration: none;
	color: white;
	font-size: 18px;
	letter-spacing: 0.5px;
}

header li
{
	display: inline-block;
	list-style: none;
}

header li a
{
	font-size: 18px;
	text-transform: uppercase;
	padding: 0px 30px;
	color: white;
	text-decoration: none;

	
}

header li a:hover
{
	color: orangered;
	transition: all 0.4s ease 0s;
}

header:after
{
	content: "";
	position: absolute;
	background-color: orangered;
	height: 0px;
	width: 100%;
	left: 0;
	bottom: -10px;
}

.logo
{
	width: 400px;
	margin-left: 100px;
	
}

.balk
{
	width:100%;
	height:7px;
	border: 0;
	margin-top: 23px;
	background-color: white;
}

.onderbalk
{
	width:100%;
	height:7px;
	border: 0;
	margin-bottom: 23px;
	background-color: white;
}
main
{
	width: 100%;
	height: 1200px;
	background-color: white;
	float: left;
}

.footer
{
	margin-top: 150px;
	width: 100%;
	padding: 100px 0%;
	background: #333;
	color: #efefef;
	display: flex;
}

.footer div{
	text-align: center;
}

.hl{
	margin-left: 400px;
	margin-bottom: 20px;
	margin-top: 20px;
	text-decoration: solid;
}

.col-2{
	flex-grow:0.5;
}

.footer div h3{
	font-weight: 300;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.col-1 a{
	display: block;
	text-decoration: none;
	color: #efefef;
	margin-bottom: 10px;
	margin-left: 400px;
}

form input{
	width:400px;
	height: 55px;
	border-radius: 4px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	outline: none;
	border: none;
}
form button{
	background: transparent;
	border: 2px solid white;
	color: white;
	border-radius: 30px;
	padding: 10px 30px;
	font-size: 15px;
	cursor: pointer;
}
.social-icons{
	margin-top: 30px;
}
.social-icons i{
	font-size: 22px;
	margin: 10px;
	cursor: pointer;
}


.container {
	position: relative;
  }
  
  .button {
	position: absolute;
	bottom: 1050px;
	left: 50px;
	border-radius: 5px;
	height: 80px;
	width: 280px;
	font-size: 35px;
	color: white;
	background-color: #333;
	font-family: 'poppins', sans-serif;
	cursor: pointer;
	font-weight: bold;

}


.button2 {
	position: absolute;
	bottom: 965px;
	left: 50px;
	border-radius: 5px;
	height: 80px;
	width: 230px;
	font-size: 34px;
	color: white;
	background-color: #333;
	font-family: 'poppins', sans-serif;
	cursor: pointer;
	

}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	
  }
  
  input[type="text"] {
	position: absolute;
	bottom: 840px;
	left: 34%;
	padding: 0.5em;
	font-size: 1em;
	border: 1px solid gray;
	border-radius: 5px 0 0 5px;
	width: 30%;
	border-radius: 32px;
	background-color: #333;
	
  }
  
   
.button3{
	position: absolute;
	bottom: 890px;
	left: 1250px;
	background-color: #333;


}

.pagina{
	background-color: #a8a8a8;
	width: 100% ;
	height: 1193px;
}

.box{
	padding: 20px;
	width: 800px;
	height: 50px;
	text-align: center;
	margin-left: 530px;
   }
  
   .textrecept{
	  
	  font-family: 'poppins', sans-serif;
	  font-size: 20px;
	  text-transform: uppercase;
	  padding: 0px 30px;
	  color: white;
	  text-decoration: underline;
   }

.pizza{
	width: 500px;
	height: 300px;
	margin-left: 60px;
	margin-top: 100px;
	border-style: solid;
	border-color: #333;
	border-radius: 3%;
	border-width: 4px;
}

.burger{
	width: 500px;
	height: 300px;
	margin-left: 130px;
	margin-top: 100px;
	border-style: solid;
	border-color: #333;
	border-radius: 3%;
	border-width: 4px;
}

.omelet{
	width: 500px;
	height: 300px;
	margin-left: 110px;
	margin-top: 100px;
	border-style: solid;
	border-color: #333;
	border-radius: 3%;
	border-width: 4px;
}

.wrap{
	width: 500px;
	height: 300px;
	margin-left: 60px;
	margin-top: 100px;
	border-style: solid;
	border-color: #333;
	border-radius: 3%;
	border-width: 4px;
}

.maccheese{
	width: 500px;
	height: 300px;
	margin-left: 130px;
	margin-top: 100px;
	border-style: solid;
	border-color: #333;
	border-radius: 3%;
	border-width: 4px;
}

.boerenkool{
	width: 500px;
	height: 300px;
	margin-left: 110px;
	margin-top: 100px;
	border-style: solid;
	border-color: #333;
	border-radius: 3%;
	border-width: 4px;
}

.broodspies-aardbeien{
	width: 700px;
	height: 600px;
	margin-left: 500px;
	margin-top: 50px;
	border-style: solid;
	border-color: #333;
	border-radius: 3%;
	border-width: 4px;
	margin: 20px 0 20px 50px;
}

.text-box-1 {
	background-color: lightgray;
	padding: 20px;
	font-size: 20px;
	border-radius: 10px;
	border: 2px solid black;
	width: 400px;
	margin: 20px 0 20px 50px;
	height: 450px

	
	
}

.text-box-2 {
	background-color: lightgray;
	text-align: center;
	padding: 20px;
	font-size: 20px;
	border-radius: 10px;
	border: 2px solid black;
	width: 400px;
	margin: -515px;
	margin-left: 630px;
	height: 450px
	
	
	

}

.text-box-3 {
	background-color: lightgray;
	text-align: center;
	padding: 20px;
	font-size: 20px;
	border-radius: 10px;
	border: 2px solid black;
	width: 600px;
	margin-top: 20px;
	margin-left: 1200px;
	height: 450px
}

  .large-font {
	font-size: 35px;
	font-family: 'poppins', sans-serif;
	text-transform: uppercase;
	padding: 0px 30px;
	color: rgb(0, 0, 0);
	
  }
  
  
  
  .large-text-3 {
	font-size: 30px;
	margin: -1000px;
	margin-left: 0px;
	font-family: 'poppins', sans-serif;
	text-transform: uppercase;
	padding: 0px 30px;
	color: rgb(255, 255, 255);
	text-decoration: underline;
	

  }
  .large-text{
	font-size: 35px;
	margin: -1000px;
	margin-left: 0px;
	font-family: 'poppins', sans-serif;
	text-transform: uppercase;
	padding: 0px 30px;
	color: rgb(255, 255, 255);
	text-decoration: underline;
  }
  
  .bowl2 {
	width: 700px;
	height: 600px;
	margin-left: 500px;
	margin-top: 50px;
	border-style: solid;
	border-color: #333;
	border-radius: 3%;
	border-width: 4px;
	margin: 20px 0 20px 50px;

  }

  .aarbeispies{
	width: 600px;
	height: 450px;
	margin-left: 30px;
	margin-top: 100px;
	border-style: solid;
	border-color: #333;
	border-radius: 3%;
	border-width: 4px;
  }

  .bowl{
	width: 600px;
	height: 450px;
	margin-left: 0px;
	margin-top: 0px;
	border-style: solid;
	border-color: #333;
	border-radius: 3%;
	border-width: 4px;
  }

  .aardbeitaartjes{
	width: 600px;
	height: 450px;
	margin-left: 0px;
	margin-top: 200px;
	border-style: solid;
	border-color: #333;
	border-radius: 3%;
	border-width: 4px;
  }

  .box1{
	float: left;
	font-family: 'poppins', sans-serif;
	text-transform:uppercase;
	text-decoration: underline;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	background-color: lightgray;
	padding: 0px;
	border-radius: 10px;
	border: 2px solid black;
	width: 400px;
	margin-top: 0px;
	margin-left: 100px ;
	height: 70px;
	
}

.box2{
	float:right;
	font-family: 'poppins', sans-serif;
	text-transform:uppercase;
	text-decoration: underline;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	background-color: lightgray;
	padding: 0px;
	border-radius: 10px;
	border: 2px solid black;
	width: 400px;
	margin-top: 0px;
	margin-left: 0px ;
	height: 70px;
	margin-right: 750px;
	
}

.box3{
	
	font-family: 'poppins', sans-serif;
	text-transform:uppercase;
	text-decoration: underline;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	background-color: lightgray;
	padding: 0px;
	border-radius: 10px;
	border: 2px solid black;
	width: 400px;
	margin-top: 0px;
	margin-left: 1350px ;
	height: 70px;
	
}

.signup-box{
	width: 390px;
	height: 620px;
	margin: auto;
	background-color: white;
	border-radius: 6px;

}


h1{
	text-align: center;
	padding-top: 15px;
}

h4{
	text-align: center;
}

form1{
	width: 300px;
	margin-left: 20px;
}

form1 label{
	display: flex;
	margin-top: 20px;
	font-size: 18px;
}

form1 input{
	width: 90%;
	padding: 7px;
	border: none;
	border: 1px solid gray;
	border-radius: 6px;
	outline: none
}

input[type="button"]{
	width: 320px;
	height: 35px;
	margin-top: 20px;
	border: none;
	background-color: #49c1a2;
	color: white;
	font-size: 18px;

}

p{
	text-align: center;
	padding-top: 20px;
	font-size: 15px;
}

.para-2{
	text-align: center;
	color: white;
	font-size: 15px;
	margin-top: -10px;
}

.para-2 a{
	color: white;

}

.box4{
	float: left;
	font-family: 'poppins', sans-serif;
	text-transform:uppercase;
	text-decoration: underline;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	background-color: lightgray;
	padding: 0px;
	border-radius: 10px;
	border: 2px solid black;
	width: 400px;
	margin-top: 0px;
	margin-left: 100px ;
	height: 70px;
	
}

.box5{
	float:right;
	font-family: 'poppins', sans-serif;
	text-transform:uppercase;
	text-decoration: underline;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	background-color: lightgray;
	padding: 0px;
	border-radius: 10px;
	border: 2px solid black;
	width: 400px;
	margin-top: 0px;
	margin-left: 0px ;
	height: 70px;
	margin-right: 750px;
	
}

.box6{
	font-family: 'poppins', sans-serif;
	text-transform:uppercase;
	text-decoration: underline;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	background-color: lightgray;
	padding: 0px;
	border-radius: 10px;
	border: 2px solid black;
	width: 400px;
	margin-top: 0px;
	margin-left: 1350px ;
	height: 70px;
	
	
}



.textOV{
	float:right;
	background-color: lightgray;
	padding: 0px;
	border-radius: 10px;
	border: 2px solid black;
	width: 650px;
	margin-top: 30px;
	margin-right: 200px;
	height: 200px;
	
}

.textOV2{
	font-family: 'roboto', sans-serif;
	color: black;
	font-size: 35px;
	text-decoration: underline;
	text-align: center;
	margin-top: 15px;
}

.textOV3{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 15px;
	font-family: 'roboto', sans-serif;
	color:black;
	font-size: 18px;

}

.textOV1{
	
	background-color: lightgray;
	padding: 0px;
	border-radius: 10px;
	border: 2px solid black;
	width: 650px;
	margin-top: 260px;
	margin-left: 1050px;
	height: 260px;
}
	
.SS{
	float: left;
	width: 700px;
	height: 900px;
	margin-left: 50px;
	margin-top: 30px;
	border-style: solid;
	border-color: #333;
	border-radius: 3%;
	border-width: 4px;
}

.textOV12{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 15px;
	font-family: 'roboto', sans-serif;
	color:black;
	font-size: 30px;
	text-decoration: underline;
	text-align: center;
}

.textOV13{
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	font-family: 'roboto', sans-serif;
	color:black;
	font-size: 25px;
	text-decoration: underline;
}

.textOV14{
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	font-family: 'roboto', sans-serif;
	color:black;
	font-size: 20px;
}

.textOV15{
	margin-top: 2px;
	margin-left: 15px;
	margin-right: 15px;
	font-family: 'roboto', sans-serif;
	color:black;
	font-size: 20px;
}

.textOV16{
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	font-family: 'roboto', sans-serif;
	color:black;
	font-size: 25px;
	text-decoration: underline;
}

.textOV17{
	margin-top: 2px;
	margin-left: 15px;
	margin-right: 15px;
	font-family: 'roboto', sans-serif;
	color:black;
	font-size: 20px;
}

.textOV18{
	margin-top: 2px;
	margin-left: 15px;
	margin-right: 15px;
	font-family: 'roboto', sans-serif;
	color:black;
	font-size: 20px;
}

table, th, td {
	width: 400px;
	border: 1px solid black;
	border-collapse: collapse;
	margin-left: 120px;
	margin-top: 10px;
}
th, td {
	padding: 5px;
	text-align: left;    
}

.tabel{
	background-color: lightgray;
	padding: 0px;
	border-radius: 10px;
	border: 2px solid black;
	width: 650px;
	margin-top: 30px;
	margin-left: 1050px;
	height: 380px;
}

.caption{
	text-align: center;
	margin-top: 10px;
	font-size: 30px;
	text-decoration: underline;
}

.lamsburger{
	width: 600px;
	height: 450px;
	margin-left: 30px;
	margin-top: 100px;
	border-style: solid;
	border-color: white;
	border-radius: 3%;
	border-width: 4px;
}

