body 
{
	margin: 0px;
	width: 100%;
}

header 
{
	width: 100%;
	height: 130px;
	padding-top: 30px;
	background-color:#333;
}


header ul
{
	float: right;
	margin-right: 300px;
	padding-top: 30px;
	font-family: 'poppins', sans-serif;
	text-decoration: none;
	color: white;
	font-size: 18px;
	letter-spacing: 0.5px;
}

header li
{
	display: inline-block;
	list-style: none;
}

header li a
{
	font-size: 18px;
	text-transform: uppercase;
	padding: 0px 30px;
	color: white;
	text-decoration: none;

	
}

header li a:hover
{
	color: orangered;
	transition: all 0.4s ease 0s;
}

header:after
{
	content: "";
	position: absolute;
	background-color: orangered;
	height: 0px;
	width: 100%;
	left: 0;
	bottom: -10px;
}

.logo
{
	width: 400px;
	margin-left: 100px;
	
}

.balk
{
	width:100%;
	height:7px;
	border: 0;
	margin-top: 23px;
	background-color: white;
}

.onderbalk
{
	width:100%;
	height:7px;
	border: 0;
	margin-bottom: 23px;
	background-color: white;
}
main
{
	width: 100%;
	height: 1200px;
	background-color: white;
	float: left;
}

.footer
{
	margin-top: 150px;
	width: 100%;
	padding: 100px 15%;
	background: #333;
	color: #efefef;
	display: flex;
}

.footer div{
	text-align: center;
}

.col-2{
	flex-grow:0.5;
}

.footer div h3{
	font-weight: 300;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.col-1 a{
	display: block;
	text-decoration: none;
	color: #efefef;
	margin-bottom: 10px;
}

form input{
	width:400px;
	height: 45px;
	border-radius: 4px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	outline: none;
	border: none;
}
form button{
	background: transparent;
	border: 2px solid white;
	color: white;
	border-radius: 30px;
	padding: 10px 30px;
	font-size: 15px;
	cursor: pointer;
}
.social-icons{
	margin-top: 30px;
}
.social-icons i{
	font-size: 22px;
	margin: 10px;
	cursor: pointer;
}


.container {
	position: relative;
  }
  
  .button {
	position: absolute;
	bottom: 1050px;
	left: 50px;
	border-radius: 5px;
	height: 80px;
	width: 280px;
	font-size: 35px;
	color: white;
	background-color: #333;
	font-family: 'poppins', sans-serif;
	cursor: pointer;
	font-weight: bold;

}


.button2 {
	position: absolute;
	bottom: 965px;
	left: 50px;
	border-radius: 5px;
	height: 80px;
	width: 230px;
	font-size: 34px;
	color: white;
	background-color: #333;
	font-family: 'poppins', sans-serif;
	cursor: pointer;
	

}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	
  }
  
  input[type="text"] {
	position: absolute;
	bottom: 840px;
	left: 34%;
	padding: 0.5em;
	font-size: 1em;
	border: 1px solid gray;
	border-radius: 5px 0 0 5px;
	width: 30%;
	border-radius: 32px;
	background-color: #333;
	
  }
  
   
.button3{
	position: absolute;
	bottom: 890px;
	left: 1240px;
	background-color: #333;


}

.pagina{
	background-color: #a8a8a8;
	width: 100% ;
	height: 1193px;
	

}